*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
   font-size: 20px;
   font-family: sans-serif;
   background: #292929;
}

.taal{
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
    color: white;
    list-style: none;
    border: none;
}

nav ul{
    margin-left: 34px;
    margin-right: 34px;
}

ul{
    display: flex;  
    list-style: none;
}

.container {
    display: grid;
    align-items: center; 
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
    padding-right: 1000px;
   }

header{
    height: 230px;
    width: 100%;
    background: black;
    color: white;
}

.engelsnav{
    list-style: none;
}

h1{
    font-size: 250%;
    margin-bottom: 20px;
    border-bottom: 1px solid black;
}


article{
    color: white; 
    margin: 0 auto;
    padding: 20px;
}

.Headerbutton{
    justify-content: center;
    padding-left: 123px;
    padding-right: 123px;
    margin: 0 auto;
    color:white;
    text-decoration: none;
    font-size: 130%;
}

.intro{
    margin-bottom: 40px;
}

.foto1{
    width: 477.6px;
    height: 400px;
}

.foto2{
    width: 477.6px;
    height: 400px;
}

.foto3{
    width: 477.6px;
    height: 400px;
}

.divGeschidenis{
    align-items: center;
}

.geschidenis{
    width: 736.4px;
    height: 400px;

}

.foto4{
   
    width: 700px;
    height: 450px; 
    
}

.foto5{
    width: 700px;
    height: 450px;
    
}

.informatie{
    display: flex;
    margin-left: 250px;

}

.adres{
    width: 150px;
    height: 150px;
}

.openningTijden{
    width: 200px;
    height: 150px;
}

figure{
    margin-bottom: 40px;
}

img{
    width: 150px;

}

.treviews{
    color: white;
    margin-left: 700px;
    
}

.reviews{
    color: white;
    width: 500px;
    height: 500px;
}

button{
    width: 100px;    
}  
figcaption{
    font-size: 80%;
    font-style: italic;
}

footer{
    background: black;
    height: 300px;
    color: white;
   font-size: 20px;
   font-family: sans-serif;
   text-decoration: none;
}

.article-geschiedenis{
    display: flex;
    margin: 10px;
    gap: 20px;
}



.adresOpeningstijden{
    display: flex;
    margin: 10px;
    gap: 20px;
}

.article-riview{
    display: flex;
    margin: 10px;
    gap: 200px;
    margin-left: 100px;
}

* {box-sizing: border-box}
        .mySlides {display: none}
        img {vertical-align: middle;}
        
      
        .slideshow-container {
          max-width: 1000px;
          position: relative;
          margin: auto;
        }
        
       
        .prev, .next {
          cursor: pointer;
          position: absolute;
          top: 50%;
          width: auto;
          padding: 16px;
          margin-top: -22px;
          color: white;
          font-weight: bold;
          font-size: 18px;
          transition: 0.6s ease;
          border-radius: 0 3px 3px 0;
          user-select: none;
        }
        
      
        .next {
          right: 0;
          border-radius: 3px 0 0 3px;
        }
        
       
        .prev:hover, .next:hover {
          background-color: rgba(0,0,0,0.8);
        }
        

        .numbertext {
          color: #f2f2f2;
          font-size: 12px;
          padding: 8px 12px;
          position: absolute;
          top: 0;
        }
        
   
        .dot {
          cursor: pointer;
          height: 15px;
          width: 15px;
          margin: 0 2px;
          background-color: #bbb;
          border-radius: 50%;
          display: inline-block;
          transition: background-color 0.6s ease;
        }
        
        .active, .dot:hover {
          background-color: #717171;
        }
        
        .fade {
          animation-name: fade;
          animation-duration: 1.5s;
        }

