*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
   font-size: 20px;
   font-family: sans-serif;
   background: #292929;
}

.taal{
    justify-content: flex;
    text-decoration: none;
    color: white;
    list-style: none;
}

nav ul{
    margin-left: 34px;
    margin-right: 34px;
}

ul{
    display: flex;  
    list-style: none;
}

.container {
    display: grid;
    align-items: center; 
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
    padding-right: 1000px;
   }

header{
    height: 200px;
    width: 100%;
    background: black;
    color: white;
}

h1{
    font-size: 250%;
    margin-bottom: 20px;
    border-bottom: 1px solid black;
}


article{
    color: white; 
    margin: 0 auto;
    padding: 20px;
}

.Headerbutton{
    justify-content: center;
    padding-left: 123px;
    padding-right: 123px;
    margin: 0 auto;
    color:white;
    text-decoration: none;
    font-size: 130%;
}

.foto1{
    width: 477.6px;
    height: 400px;
}

.foto2{
    width: 477.6px;
    height: 400px;
}

.foto3{
    width: 477.6px;
    height: 400px;
}

.geschidenis{
    width: 736.4px;
    height: 400px;
}

.foto4{
   
    width: 700px;
    height: 450px; 
    
}

.foto5{
    width: 700px;
    height: 450px;
    
}

.adres{
    width: 150px;
    height: 150px;
}

.openningTijden{
    width: 200px;
    height: 150px;
}

figure{
    margin-bottom: 40px;
}

img{
    width: 150px;

}

.treviews{
    color: white;
}

.reviews{
    color: white;
    width: 500px;
    height: 500px;
}

button{
    width: 100px;    
}  
figcaption{
    font-size: 80%;
    font-style: italic;
}

footer{
    background: black;
    height: 300px;
    color: white;
   font-size: 20px;
   font-family: sans-serif;
}

.article-geschiedenis{
    display: flex;
    margin: 10px;
    gap: 20px;
}

.adresOpeningstijden{
    display: flex;
    margin: 10px;
    gap: 20px;
}

.article-riview{
    display: flex;
    margin: 10px;
    gap: 200px;
    margin-left: 100px;
}